/*import des fichiers components CSS*/
@import url("components/header.css");
@import url("components/menu.css");
@import url("components/banner.css");
@import url("components/list-inline.css");
@import	url("components/container.css");
@import url("components/background.css");
@import url("components/button-yellow.css");
@import url("components/grey-part.css");
@import url("components/flexbox.css");
@import url("components/footer.css");


/*import police*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');


body {
	color: #565656;
	font-family: "roboto", sans-serif;
	font-weight: 300;
	text-align: justify;
	font-size: 15px;
}

h1 {
	/*voir dans banner.css*/
}

a {
	text-decoration: none;
	color: #334E58;
}

p {
	padding-top: 40px;
	padding-bottom: 40px;
}

h2 {
	color: #F9B62C;
	padding:0px 30px;
	padding-top: 30px;
	font-size: 50px;
	font-weight: 900;
}

strong{
	color:#F9B62C
}
