
#banner {
	background-image: url("../../images/lightbulb.jpg");
	background-image: linear-gradient(-225deg, rgb(0,0,0,0.6) 0%, rgb(0,0,0,0.4) 80%), url("../../images/high-five.jpg");
	background-size:cover;
	background-color: grey;
	background-position: fixed;
	text-align:center;
	padding-top:250px;
	padding-bottom:125px;
	padding-left: 0px;
	padding-right:0px;
	width:100%;
	height: 100vh;
	color:white;
	text-transform: uppercase;
}

#banner h1{
	margin:0 ;
	padding:0 ;
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 900;
}

#banner p {
	font-size: 18px;
}

