#pre-footer{
	padding-top:20px;
	background-color:#52B6AC;
	text-align:center;
}


#footer {
	background-color:#0F796B;
	display:flex;
	justify-content: space-between;
	padding-left:40px;
	padding-right:40px;
	padding-top:10px;
	padding-bottom: 10px;
	align-items: center;
}

.footer-item {
	display:flex;
	align-items:center;
	padding:2px;
	margin:0;
	}

#pre-footer h2{
	padding-top: 10px;
	color:white;
}

#footer img{
	height: 30px;
	align-items:center;
	margin:0;
}

#footer i{
	color:white;
	font-size: 22px;
	padding-right:10px;
	padding-left:10px;
}

#footer i:hover{
	color:#52B6AC;
	transition:0.3s ease;
}

.typeform-widget{
	padding:40px;
	margin:0 auto;
}

