#header-rs{
	background-color: #0F796B;
	margin:0px;
	padding:1px;
	text-align: right;
}

#header-rs i{
	color:white;
	font-size: 22px
}

#header-rs i:hover{
	color:#52B6AC;
	transition:0.3s ease;
}

#header-rs ul {
	margin:7px;
}

#header-logo{
	text-align:center;
	background-color: #52B6AC;
	margin:0px;
	padding: 10px;
}

#logo{
	height:50px;
}

/*#header-fixed{
	position:fixed;
}*/


