#pre-header{
	background-color: #0F796B;
	margin:0px;
	padding:10px;
	text-align: right;
}

#header-logo{
	text-align:center;
	background-color: #52B6AC;
	margin:0px;
	padding: 3px;
}

#logo{
	height:50px;
}

#header-fixed{
	position: fixed;
	width: 100%;
	z-index:1;
}
